* {
    font-family: Arial, Helvetica, sans-serif;
}
#informacion-navegador {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-size: 20px;
    color: rgb(66, 174, 250);
}

p {
    text-align: center;
    font-size: 15px;
}

#btn-cerrar {
    display:flex;
    justify-content: center;
}
